{% extends "base.html" %}

{% block content %}
    <h1>CS160</h1>

    <p>
        Hey there, {{ name }}.
    </p>

    <p>
        Now all we need is your CalNetID to verify you are enrolled in the class.
    </p>

    <p>
        The CalNetID is the part before <em>@iastate.edu</em> incase you forgot.
    </p>

    <form method="post">
        <div>
            <label for="CalNetID">CalNetID</label>
            <input class="text" name="CalNetID" id="CalNetID" />
        {% if error %}
            <strong>That is an invalid CalNetID. Why don't you try again?</strong>
        {% endif %}
        </div>

        <div>
            <input type="submit" class="button" value="Join the Class" />
        </div>
    </form>

    <div>
    </div>
{% endblock %}
